:root {
  --background: #e7e7e7;
  --primary: #2ea372;
}

* {
  box-sizing: border-box;
}

.App {
  background: var(--background);
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 5em;
}

@media (min-width: 768px) {
  .App {
    padding-top: 6em;
  }
}

.Header {
  position: fixed;
  top: 0em;
  left: 0em;
  width: 100vw;
  z-index: 1;
}

.Heading {
  margin-left: 2em;
}

@media (min-width: 768px) {
  .Heading {
    margin-left: 9em;
  }
}

.Body {
  padding: 0 2em 3em 2em;
}

@media (min-width: 768px) {
  .Body {
    padding: 0 9em 2em 9em;
  }
}
